@model TransactionFormModel

<div class="offset-2 col-8 offset-sm-3 col-sm-6 offset-md-3 col-md-6">
    <form method="post">
        <div>
            <h2 class="text-center mt-4">Send Gift</h2>
        </div>
        <div class="mb-4 text-center needs-validation" novalidate>
            <label asp-for="PhoneNumber" class="form-label">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control" required>
            <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
        </div>
        <div class="mb-4 text-center needs-validation" novalidate>
            <label asp-for="Amount" class="form-label">Amount</label>
            <input asp-for="Amount" class="form-control" required>
            <span asp-validation-for="Amount" class="small text-danger"></span>
        </div>
        <div class="mb-4 text-center needs-validation" novalidate>
            <label asp-for="Description" class="form-label">Description</label>
            <input asp-for="Description" class="form-control" required>
            <span asp-validation-for="Description" class="small text-danger"></span>
        </div>
        <div class="submit-button col-12 text-center">
            <button class="btn btn-primary text-white" type="submit">Send</button>
        </div>
    </form>
</div>